*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --marineBlue: hsl(213, 96%, 18%);
    --purplishBlue: hsl(243, 100%, 62%); 
    --pastelBlue: hsl(228, 100%, 84%);  
    --lightBlue: hsl(206, 94%, 87%);
    --strawberryRed: hsl(354, 84%, 57%);
    --coolGray: hsl(231, 11%, 63%);
    --lightGray: hsl(229, 24%, 87%); 
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
    --black: black; 
    --fontFamily: Ubuntu;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageSection{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.choosed{
    color: var(--marineBlue);
}

.notChoosed{
    color: var(--coolGray);
}

body{
    background-color: var(--lightBlue);
    max-width: 1550px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    padding: 20px;
    background-color: var(--white);
    border-radius: 10px;
    width: 60%;
    height: 90vh;
    font-family: var(--fontFamily);
    display: flex;
}

#rightContainer{
    background-image: url(images/bg-sidebar-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30%;
    padding: 30px;
    border-radius: 10px;
    
    .subcontainer{
        margin-bottom: 30px;
        gap: 15px;
        justify-content: left;
        color: var(--white);
        text-transform: uppercase;

        .sectionNumbers{
            border: 2px solid var(--white);
            width: 30px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            font-weight: 600;
        }

        .sectionType{
            .steps{
                font-weight: 100;
                font-size: 14px;
                color: var(--pastelBlue);
                margin-bottom: 5px;
            }

            .names{
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
    }
}

#leftContainer{
    width: 70%;
    height: 100%;
    padding: 30px 70px;
    border-radius: 10px;

    .leftSubcontainer{
        height: 100%;
        position: relative;

        .heading{
            font-size: 30px;
            font-weight: 900;
            color: var(--marineBlue);
            margin-bottom: 10px;
        }

        .para{
            color: var(--coolGray);
            margin-bottom: 30px;
        }        

        .buttonSection{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            margin-top: 50px;
            bottom: 0;
            width: 100%;


            .goBackBtn{
                color: var(--coolGray);
                background-color: white;
                border: none;
                font-weight: 600;
                font-size: 16px;
                height: fit-content;

                &:hover{
                    cursor: pointer;
                }
            }

            .confirmBtn,
            .nextBtn{
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 600;
                color: var(--white);
                border: none;
                border-radius: 5px;
                background-color: var(--marineBlue);

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .title{
            color: var(--marineBlue);
            font-weight: 500;
            margin-bottom: 5px;
        }
    }

    #subcontainer-1{
        /* display: none; */

        form{
            display: flex;
            flex-direction: column;

            .labels{
                justify-content: space-between;
                margin-bottom: 10px;
            }

            .labels,
            label{
                font-size: 15px;
                font-weight: 500;
                color: var(--marineBlue);
            }

            .errors{
                color: var(--strawberryRed);
                display: none;
            }

            input{
                padding: 15px;
                border: 2px solid var(--lightGray);
                border-radius: 10px;
                margin-bottom: 20px;

                &::placeholder{
                    font-weight: bold;
                    color: var(--coolGray);
                }
            }
        }

        .buttonSection{
            position: relative;

            .nextBtn{
                position: absolute;
                right: 0;
            }
        }
    }

    #subcontainer-2{
        display: none;

        .planContainer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;

            .plans{
                padding: 10px;
                border: 1px solid var(--lightGray);
                border-radius: 5px;
                width: 30%;

                &:hover{
                    cursor: pointer;
                }

                .imageSection{
                    width: 30px;
                    aspect-ratio: 1/1;
                    margin-bottom: 50px;
                }

                .price,
                .discount{
                    font-weight: 400;
                    font-size: 15px;
                    color: var(--coolGray);
                    margin-bottom: 5px;
                }

                .pricePerYear{
                    display: none;
                }
                
                .discount{
                    display: none;
                    color: var(--marineBlue);
                }
            }

            .clickedPlan{
                border-color: var(--marineBlue);
                background-color: var(--Magnolia);
            }

            .notClickedPlan{
                background-color: transparent;
                border-color: var(--lightGray);
            }
        }

        .toggleBox{
            display: flex;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--Magnolia);

            .planType{
                font-weight: 500;
            }

            #toggleBtn{
                position: relative;
                border-radius: 20px;
                background-color: var(--marineBlue);
                width: 50px;
                height: 20px;
                margin: 0px 20px;

                &:hover{
                    cursor: pointer;
                }

                #toggleBtnInnerCircle{
                    width: 40%;
                    aspect-ratio: 1/1;
                    border: 3px solid var(--marineBlue);
                    border-radius: 50%;
                    background-color: var(--white);
                    position: absolute;
                    left: 0;
                }
            }
        }

        .buttonSection{
            .goBackBtn{
                display: block;
            }
        }
    }

    #subcontainer-3{
        display: none;

        .optionContainer{
            .options{
                justify-content: space-between;
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 15px;
                border: 1.5px solid var(--lightGray);
                transition: border-color 0.2s linear;

                &:hover{
                    cursor: pointer;
                    border-color: var(--purplishBlue);
                }

                label{
                    align-items: center;
                    
                    input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        margin-right: 20px;
                        accent-color: var(--purplishBlue);
                    }
                    
                    .para{
                        margin-bottom: 0;
                    }
                }

                .optionPrice{
                    .monthlyPrice{
                        color: var(--purplishBlue);
                    }
                    
                    .yearlyPrice{
                        color: var(--purplishBlue);
                        display: none;
                    }
                }
            }

            .checked{
                border: 1.5px solid var(--purplishBlue);
                background-color: var(--Magnolia);
            }
        }
    }

    #subcontainer-4{
        display: none;

        .priceContainer{     
            background-color: var(--Magnolia);
            border-radius: 5px;
            padding: 20px;
            
            .choosedPlan{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                #totalPrice{
                    font-weight: 500;
                    color: var(--marineBlue);
                    font-size: 18px;
                }
                
                .changeBtn{
                    color: var(--coolGray);
                    text-decoration: underline;
                }
            }
            
            hr{
                margin-top: 20px;
                border: 1px solid var(--lightGray);
            }

            .summaryBox{
                margin-top: 20px;
                justify-content: space-between;

                .choosedAddOns{
                    color: var(--coolGray);
                }

                .addOnsPrice{
                    color: var(--marineBlue);
                }
            }
        }

        .overallPrice{
            padding: 20px;
            justify-content: space-between;

            .totalTitle{
                color: var(--coolGray);
            }

            #overallPrice{
                color: var(--purplishBlue);
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}